body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 150px;
  background-color: pink;
}

h1 {
  color: hotpink;
  font-style: italic;
}

h2,
h4 {
  color: hotpink;
  text-align: center;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
}

button {
  background-color: pink;
  border-radius: 100px;
  box-shadow: 5px 5px 0px 0px grey;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: hotpink;
  color: white;
}

.game {
  font-size: 15px;
}

#myText {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

.container1 {
  height: 445px;
  width: 200px;
  text-align: center;
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  overflow-y: auto;
}

#game-over {
  font-size: 15px;
  font-weight: bold;
}

#leaderboard {
  list-style: none; /* Remove default list markers bullets or numbers*/
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

#leaderboard li {
  padding: 5px; /* Add padding around each list item */
  border-bottom: 1px solid #ddd; /* Add a bottom border to each list item */
  word-wrap: break-word; /* Break long words and wrap to the next line */
  text-align: left; /* Align text to the left */
}
